<%= render 'shared/navigation' %>
<%= render 'shared/messages' %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-3">
            <div class="card-body">
                <div class="card-text text-center"><%= render 'favoritepost' %></div>
            </div>
        </div>
    </div>
</div>