@import "bootstrap";

body {
  background-color: #f0f2f5 !important;
  margin: 0 !important;
}

.container {
  height: auto;
  margin-bottom: 5rem;
  margin-top: 5rem !important;
  width: auto;
}

.navbar {
  margin-top: 0;
  background-color: #B09F9B !important;
  height: 3.7rem;
  font-size: 0.9rem;
  margin-bottom: 5rem;
}

.nav-link {
  font-size: 1rem;
  color: white !important;
}

.to-right {
  justify-content: end;
}

.my-text {
  font-size: 1.25rem !important;
  color:white !important;
  font-family: cursive !important;
  font-style: italic !important;
}

.nav-link:hover {
  border-radius: 0.5rem;
  background-color:whitesmoke;
}

footer {
    width: 100%;
    height: 52px;
    bottom: 0 !important;
    position: fixed;
    background-color:#B09F9B;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  footer p {
    margin-bottom: 0;
    color:white;
    font-family: cursive !important;
    font-style: italic !important;
    font-size: 16px !important;
  }